{:deps      {}

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :aliases   {:dev {:extra-paths ["examples"]
                   :extra-deps  {com.datomic/client-cloud {:mvn/version "1.0.123"}
                                 com.datomic/local        {:mvn/version "1.0.267"}}}
             :jar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.132"}}
                   :main-opts  ["-m" "hf.depstar.jar" "lib.jar"]}}}